<h1>Links</h1>
<ul>
  {% if site.homepage != '' %}
  <li><a href="{{ site.homepage }}">Project homepage</a></li>
  {% endif %}
  <li><a href="http://imunes.net/about">About IMUNES</a></li>
  <li><a href="http://imunes.net/download">Download section</a></li>
  <li><a href="https://github.com/imunes/imunes">imunes repository</a></li>
  <li><a href="https://github.com/imunes/imunes-examples">imunes-examples
	  repository</a></li>
  <li><a href="https://github.com/imunes/imunes-security">imunes-security
	  repository</a></li>
</ul>
